.*
*.o
*.d
*.dat
*.lo
Dune
bin
*.obj
*.log
*.pdb
*.tlog
*.exe
*.suo
*.vcxproj.*
*.*sdf
config.*
config
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
libcdm.la
libtool
stamp-h1
output